<ion-view title="Select Availability">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    
  <div class="card">
  	<div class="item item-body">
	  <div class="item item-text-wrap">
	    Select each day, and corresponding times, that your pet will be avilable to rent.
	  </div>

	  <div class="item item-divider">
	    Select a Date:
	  </div>
	  <div class="item item-image">
	    <img src="img/calendar.png">
	  </div>
	  <div class="item item-divider">
	    Select Times:
	  </div>
	  <!-- list of available times -->
	  <div class="list">

		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     8-9 am
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     9-10 am
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     10-11 am
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     11am-12 pm
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     12-1 pm
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     1-2 pm
		  </li>
		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     2-3 pm
		  </li>
		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     3-4 pm
		  </li>
		   <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     4-5 pm
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     5-6 pm
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     6-7 pm
		  </li>
		  <li class="item item-checkbox">
		     <label class="checkbox">
		       <input type="checkbox">
		     </label>
		     7-8 pm
		  </li>

	   </div>
	   <button class="button button-full button-positive" onclick="location.href='/www/#/app/confirmation_list'">
		  Add Times
	  	</button>
	  </div>
  </div>
  </ion-content>
</ion-view>
