
<ion-view title="Book">
  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    
  <div class="card">
  	<div class="item item-body">
	  <div class="item item-divider">
	    Select a Date: 
	  </div>
	  <pre><em>{{dt | date:'fullDate' }}</em></pre>
    <div style="display:inline-block; min-height:290px;">
      <div class="well well-sm" ng-model="dt" >
          <datepicker min="minDate" show-weeks="showWeeks" date-disabled="shouldDateBeDisabled(date,mode)" ng-model="date" ng-click="show(date)"></datepicker>
      </div>
    </div>
	  <div class="item item-divider">
	    Select a Time: {{choice.date | date:'MM/dd/yyyy'}}
	  </div>
	  <!-- list of available times -->
	  <div class="list">
	  		
		  <label ng-repeat="time in times" class="item item-radio">
		    <input type="radio" name="times">
		    <div class="item-content">
		      {{time}}
		    </div>
		    <i class="radio-icon ion-checkmark"></i>
		  </label>
		  
	   </div>
	   <button class="button button-full button-positive" onclick="location.href='#/app/confirmation_book'">
		  Book Now 
	  	</button>
	  </div>
  </div>
  </ion-content>
</ion-view>
