<ion-view title="Confirmation">
  <ion-nav-buttons side="right">
    <button menu-toggle="right"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<div class="list card">

	  <div class="item item-avatar">
		<img src="img/buddy.jpg">
		<h2>Buddy</h2>
		<p>Price: $10/hour</p>
	  </div>
	  <div class="item item-body">
		<p>
		  <b>Times Listed:</b> this, this, this, this
		  <br>
		  <b>Location for pick-up:</b> 123 Street
		  <br>
			<b>Notes to Renter:</b> Buddy is great with kids, but please keep him on a leash when going anywhere outside of the house. I will give you an instruction sheet with FAQs on how he should be taken care of. I will also provide you with his toys and food. Have fun!
		</p>
	</div>

	<div class="button-bar">
		<a class="button button-positive" onclick="location.href='#/app/home'">Done</a>
  		<a class="button button-assertive" onclick="location.href='#/app/list'">Edit</a>
	</div>
  </ion-content>
</ion-view>
