<ion-view title="Confirmation">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<div class="list card">

	  <div class="item item-avatar">
		<img src="img/buddy.jpg">
		<h2>Buddy</h2>
		<p>Booked: April 9, 3:00-4:00 pm ($15)</p>
	  </div>

	  <div class="item item-body">
		<img class="full-image" src="img/map.png">
		<p>
		  <b>Address:</b> 123 Bark Street, Cambridge, MA 02138
		  <br>
		  <b>Cell:</b> 123-456-7890
		  <br>
			<b>Notes:</b> Buddy is great with kids, but please keep him on a leash when going anywhere outside of the house. I will give you an instruction sheet with FAQs on how he should be taken care of. I will also provide you with his toys and food. Have fun!
		</p>
	</div>
	
	<div class="button-bar">
		<a class="button button-positive" onclick="location.href='#/app/home'">Done</a>
  		<a class="button button-balanced" onclick="location.href='#/app/home'">Call</a>
	</div>

  </ion-content>
</ion-view>
