<ion-view title="Rentals">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

<tabset>
    <tab heading="Upcoming">
<div class="list">
       <a class="item item-avatar" href="#/app/confirmation_book">
      <img src="img/buddy.jpg">
      <h2>Sparky</h2>
      <p>Booked for April 10, 3:00-4:00 pm</p>
      <button class="button button-balanced">
          <i class="icon ion-ios7-telephone"></i>
      </button>
      <button class="button button-positive">
          <i class="icon ion-ios7-email-outline"></i>
      </button>
      <button class="button button-assertive">
          Cancel
      </button>    
    </a> 
    </div>  
</tab>
    <tab heading="Past">
      <div class="list">
    
    <a class="item item-avatar" ng-repeat="pet in pets">
      <img src="img/buddy.jpg">
      <h2>{{pet.name}}</h2>
      <p>Rented on April 9, 3:00-4:00 pm ($15)</p>
      <button class="button button-positive" onclick="location.href='#/app/list2/1'">
          Re-List
      </button>
    </a>
  </div>
    </tab>
  </tabset>

  </ion-content>
</ion-view>