<ion-view hide-nav-bar="true" class="login">

 <ion-content>
<div class="background">
<div class="list list-inset" id="login">
  <label class="item item-input">
    <input type="email" placeholder="E-Mail">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Password">
  </label>
</div>

 <div class="padding-horizontal">
<button class="button button-block button-positive" ng-click="location.href='/www/#/app/home'">
  Login
</button>
</div>

<button class="button button-block button-clear button-positive" onclick="location.href='#/app/register'">
  No Account? Register Here
</button>
 </ion-content>
</ion-view>
