<ion-view title="Profile">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<div class="list card" >

	  <div class="item item-divider">
	    {{pet.name}}
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src='img/bulldog.jpg'>
 <div class="row">
 	<div class="col">
 		<div align="middle">
 			<h3>Pet Rating</h3>
	    	<rating ng-model="rate" value="3.3" max="5" readonly="true"></rating>
	    </div>
	</div>
	<div class="col">
		<div align="middle">
 			<h3>Owner Rating</h3>
	    	<rating ng-model="rate" value="3.7" max="5" readonly="true"></rating>
	    </div>
	</div>
	    <p>
	    	
	    </div>
	      <ol class="inside">
	      	<li type="circle"> <b>Breed:</b> {{pet.breed}} </li>
	      	<li type="circle"> <b>Age:</b> {{pet.age}}</li>
	      	<li type="circle"> <b>Price:</b>  ${{pet.price}}/hour</li>
	      	<li type="circle"> <b>Availability:</b>  3/4 from 1-5 pm</li>
	      </ol>
	    </p>
	    <button class="button button-full button-positive" ng-click="location.href='#/app/book/1'">
		  Book Now
	  	</button>
	  </div>

	</div>


  </ion-content>
 
</ion-view>
