<ion-view title="Profile">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
	<div class="list card" >

	  <div class="item item-divider">
	    {{pet.name}}
	  </div>

	  <div class="item item-body">
	    <img class="full-image" src='img/bulldog.jpg'>
	    <p>
	      <ol class="inside">
	      	<li type="circle"> <b>Breed:</b> {{pet.breed}} </li>
	      	<li type="circle"> <b>Age:</b> {{pet.age}}</li>
	      	<li type="circle"> <b>Price:</b>  ${{pet.price}}/hour</li>
	      	<li type="circle"> <b>Availability:</b>  3/4 from 1-5 pm</li>
	      </ol>
	    </p>
	    <button class="button button-full button-positive" onclick="location.href='#/app/book/1'">
		  Book Now
	  	</button>
	  </div>

	</div>


  </ion-content>
 
</ion-view>
