<ion-view title="Register">
 <ion-content>

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="email">
  </label>

  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone Number</span>
    <input type="tel">
  </label>


<label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Confirm Password</span>
    <input type="password">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Credit Card</span>
    <input type="number">
  </label>
   <label class="item item-input item-stacked-label">
    <span class="input-label">Security Code</span>
    <input type="number">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Expiration Date</span>
    <input type="month">
  </label>
</div>

 <div class="padding">
<button class="button button-block button-positive" onclick="location.href='#/app/home'">
  Create Account
</button>
</div>

 </ion-content>
</ion-view>